/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#mainRadioButton{
	-fx-padding : 0px 100px 0px 100.0px ;
	-fx-min-width: 100px;
}
.heading{
	-fx-font-family: sans-serif;
	-fx-font-size: 30px;
}
Button{
	-fx-padding : 5px;
	-fx-alignment : CENTER;
}
Label{
	-fx-padding : 10px;
}
#imageStackPane{
	-fx-border-style : solid;
	-fx-border-color : black;
	-fx-background-color: #AAAAAA;
	-fx-border-width: 1px;
}
SplitPane{
	-fx-background-color: white;
}